doctype html
html(lang=en)
    head
        title=pageTitle
        script(type="text/javascript")

        style(type="text/css")
    body
        h1 Heading1
        h2 Heading2
        h3 Heading3
        h4 Heading4
        h5 Heading5
        h6 Heading6

        #container.col1.col2
            if age > 10
                p your are old enough.
            else
                p you are still young.
            p.
              Hello World
              How are you?
