h1 Person Details
table
    tr
        th Key
        th Value
    tr
        td Id
        td=person.id
    tr
        td Name
        td=person.name
    tr
        td Age
        td=person.age
    tr
        td Wage
        td=person.wage
