doctype html
html(lang="en")
    head
        title index.jade
        meta(charset="UTF-8")
        script(type="text/javascript").

        style(type="text/css").


    body
        h1 Hello World from index.jade